fastapi>=0.100.0
uvicorn>=0.23.0
sqlalchemy>=2.0.0
psycopg2-binary>=2.9.7   # Conector óptimo para PostgreSQL
python-dotenv>=1.0.0     # Para leer el archivo .env
pydantic>=2.0.0
passlib[bcrypt]>=1.7.4   # Para encriptar contraseñas
python-jose[cryptography]>=3.3.0 # Para los tokens JWT (Login)
alembic>=1.11.1          # Para crear las tablas en la base de datos automáticamente
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
cryptography>=42.0.0